<app-home>
</app-home>
<div class="container">
    <br>

    <div class="row">
        <div class="">

            <div class="card-panel blue lighten-3">
                <span class="blue-text text-darken-2">Resultado do detalhe</span>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="images/yuna.jpg" alt="" class="circle">
                        <p>Nome: {{hero.name}} <br> Ide: {{hero.id}} <br> Estado: {{hero.isSecret}}
                        </p>
                    </li>
                </ul>
            </div>
            <button class="waves-effect waves-light btn" (click)="goVoltar()">Voltar</button>

        </div>
    </div>

</div>