<app-home>
</app-home>


<div class="container">
    <br>
    <div class="row">
        <div class="col s12 m12">
            <ul class="collection ">
                <li class="col s12 m6 collection-item avatar grey" *ngFor="let hero of lista">

                    <img src="images/imagem.jpg" alt="" class="circle">
                    <p>Nome: {{hero.nome}} <br> Morada: {{hero.morada}} <br> Genero: {{hero.genero}}
                        <br> Email: {{hero.email}} <br> Telefone: {{hero.telefone}}
                    </p>

                    <button class="waves-effect waves-light btn"> EDITAR</button>
                </li>
            </ul>

        </div>

    </div>
</div>